@import '../../Assets/general.scss';
.navbar-user{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a{
        color:$secundary-color;
        text-decoration: none;
        padding: 10px;
        font-size: large;
        display: flex;
        flex-direction: row;
    }
    .user-name{
        color:$secundary-color;
        font-size: large;
        margin: 0px 30px;
    }
}
